* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: blanchedalmond;
}

/* START OF TOP BAR */

.home-button, .home-button-single {
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    border: 2px solid #a3adb3;
    background-color: white;
    transition: background-color 0.3s;
}

.home-button:hover, .home-button-single:hover {
    background-color: #f0f0f0;
}

.home-button svg, .home-button-single svg {
    width: 30px;
    height: 30px;
    fill: #4b545c;
}

.top-bar, .top-bar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    padding: 15px 20px;
    background-color: #f2f4f6;  
    border-bottom: 3px solid #d4d8dc;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.top-bar-left, .top-bar-right, .top-bar-single {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 10px;
}

/* Input and Select Styles */
.user_name-card, .password-card, .select-by-tag, .select-mood {
    padding: 10px 20px;
    border: 2px solid #a3adb3;  
    border-radius: 5px;
    color: #4b545c; 
    font-size: 16px;
    height: 42px;
    outline: none;
}

.user_name-card, .password-card {
    width: 180px;
    margin: 0 5px;
}

.select-by-tag, .select-mood {
    padding: 5px 8px;
    margin-right: 15px;
}

/* Button and Link Styles */
.top-bar-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #e1e5e8; 
    color: #4b545c; 
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; 
    transition: background-color 0.3s;
    display: inline-block; /* This makes the anchor behave like a block while still being inline */
    white-space: nowrap;
    margin: 0 5px;
}

.top-bar-button:hover {
    background-color: #c8d0d6;  
}

/* Text Styles */
.top-bar-text {
    font-weight: bold;
    color: #4b545c;
}

.not_member-text {
    margin-left: 40px;
}

.user_name-header {
    font-size: 24px;
    max-width: 300px;  /* Adjust to your desired max-width */
    white-space: nowrap;  /* This prevents the text from wrapping */
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: #4b545c; 
    margin-right: 35px;
    margin-left: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-user_name-header {
    font-size: 24px;
    max-width: 300px;
    white-space: nowrap;  /* This prevents the text from wrapping */
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: #4b545c; 
    margin-right: 10px;
    margin-left: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1180px) {
    .user_name-header {
        max-width: 200px;  /* Adjust to your desired max-width */
    }
}

/* Media Query for Smaller Screens */
@media (max-width: 1080px) {

    .top-bar {
        flex-direction: column;  
        align-items: stretch;
        height: 145px;
    }

    .top-bar-left {
        width: 100%;  
        padding: 0px 0 15px;
        border-bottom: 2px solid black;  
    }

    .top-bar-right {
        width: 100%;  
        padding: 15px 0 0px;
    }

    /* Remove the border from the last group to prevent double borders */
    .top-bar > div:last-child {
        border-bottom: none;
    }

    .user_name-header, .user-user_name-header {
        max-width: 300px;
        margin-right: 10px;  
        margin-left: 5px;
    }

    .user_name-card, .password-card {
        width: 160px;
    }
}

@media (max-width: 700px) {
    .user-user_name-header {
        max-width: 200px;  /* Adjust to your desired max-width */
    }
}

@media (max-width: 600px) {
    .user-user_name-header {
        width: 160px;
        margin-left: 60px;
        margin-right: 5px; 
    }
}

@media (max-width: 590px) {

    .home-button {
        position: absolute;
        left: 13px;
        top: 87px;
        padding: 2px;
    }

    .home-button svg {
        width: 30px;
        height: 30px;
    }

    .user_name-header {
        width: 150px;
        margin-left: 48px;
        margin-right: 5px;
    }
}

/* END OF TOP BAR */

/* START OF FLASHED MESSAGES */

/* Base style for all messages */
.error, .success, .authentication {
    font-size: 0.9em; /* smaller font size */
    font-weight: bold; /* bold text */
    padding: 5px 20px; /* less padding on top and bottom */
    border-radius: 5px;
    display: table;
    text-align: center;
    margin: 10px auto;
    color: #000; /* black text */
    box-shadow: 0px 1px 2px rgba(60, 10, 10, 0.1); /* subtle shadow for depth */
}

/* Style for each message category */
.error {
    background-color: #fecc89; /* light red */
}

.success {
    background-color: #ccffcc; /* light green */
}

.authentication {
    background-color: #ffd199; /* light yellow */
}

/* END OF FLASHED MESSAGES */

/* START OF SIGN-UP PAGE */
h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
    color: #424242;
}

/* The container for the form */
.sign-up-form-tag {
    width: 80%;
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f2f4f6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling input fields */
.sign-up-form-tag input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a3adb3;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.sign-up-name-card, .sign-up-user_name-card, .sign_up-c-password-card {
    margin-bottom: 15px;
}

.sign_up-password-card {
    margin-bottom: 10px;
}

.sign-up-form-tag input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #424242;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-up-form-tag input[type="submit"]:hover {
    background-color: #666666;
}

/* Styling the password criteria message */
.sign-up-password-message {
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #b3ada1;
    border-radius: 5px;
    background-color: #f8f6ec;
}

.sign-up-password-message p {
    padding-bottom: 5px;
}

.sign-up-password-message ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.sign-up-password-message li {
    flex: 1 0 48%; /* Makes sure two items are on one line, with a little space in between */
    margin: 0;
    position: relative;
    padding-left: 20px;
}

.sign-up-password-message li:before {
    content: '•'; 
    position: absolute; 
    left: 0;
    color: #333;
}

/* Styling the date of birth section */
.sign-up-d_o_b-tag {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sign-up-d_o_b-card {
    flex: 1;
    font-size: 1em;
    margin-right: 10px;
}

.select-day,
.select-month,
.select-year {
    flex: 1;
    padding: 5px;
    border: 2px solid #a3adb3;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.select-year {
    margin-right: 0;
}
/* END OF SIGN-UP PAGE*/





.test-visibility {
    visibility: hidden;
}

.centered-box {
    position: fixed; /* This ensures the box stays in the same position regardless of scroll */
    top: 50%; /* This starts the box halfway down the viewport */
    left: 50%; /* This starts the box halfway across the viewport */
    transform: translate(-50%, -50%); /* This adjusts the box so its center is at the viewport's center, not its top-left corner */
    
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.image-tag {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}