* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, rgb(253, 225, 185), #f4d4d4);
}

/* START OF TOP BAR */

/* Home Button */
.home-button, .home-button-single {
    position: absolute;
    left: 13px;
    top: 13px;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid #a3adb3;
    background-color: white;
    transition: background-color 0.3s;
    z-index: 1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.home-button:hover, .home-button-single:hover {
    background-color: #f0f0f0;
}

.home-button svg, .home-button-single svg {
    width: 30px;
    height: 30px;
    fill: #4b545c;
}

/* Top Bar Box */
.top-bar-box, .top-bar-box-user {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px 20px;
    height: 71px;
    padding: 10px 15px;
    background-color: #f6f4f2;  
    border-bottom: 3px solid #dcd8d4;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-bar-left-box, .top-bar-right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 20px;
}

.top-bar-left-ubox, .top-bar-right-ubox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 8px;
}

.top-bar-user-left {
    position: absolute;
    top: 17px;
    left: 63px;
    display: flex;
    gap: 0px 12px;
}

.select-by-tag-box, .select-mood-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 5px;
}

.user-name-tag, .password-tag, .select-by-tag-tag, .select-mood-tag {
    padding: 2px 8px;
    border: 2px solid #a3adb3;  
    border-radius: 5px;
    color: #4b545c; 
    font-size: 16px;
    height: 34px;
    outline: none;
}

.user-name-tag, .password-tag {
    width: 190px;
}

.log-out-button, .log-in-button, .view-profile-button, .sign-up-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #e8e4e1; 
    color: #4b545c; 
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; 
    transition: background-color 0.3s;
    margin-left: 1px;
    margin-right: 1px;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.log-out-button:hover, .log-in-button:hover, .view-profile-button:hover, .sign-up-button:hover {
    background-color: #d6cfc8;  
}

.user-name-header-tag {
    font-size: 2em;
    font-weight: bold;
    color: #4c5a65;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 10px;
}

.v-user-header-tag {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c5a65;
    font-family:inherit;
    padding: 0px 10px;
}

@media (max-width: 1060px) {

    .home-button {
        position: absolute;
        left: 9px;
        top: 9px;
    }

    .top-bar-box {
        flex-direction: column;  
        height: 129px;
    }

    .top-bar-left-box, .top-bar-left-ubox {
        width: 100%;
        position: relative;
    }
    
    .top-bar-left-box:after, .top-bar-left-ubox:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: -16px;
        left: 0;
    }

    .top-bar-left-box, .top-bar-right-box {
        gap: 0px 12px;
    }

    .top-bar-user-right {
        margin-left: 200px;
    }
}

@media (max-width: 780px) {
    .top-bar-box-user {
        flex-direction: column;  
        height: 129px;
    }

    .top-bar-user-right {
        margin-left: 0px;
        transform: translateY(32px);
    }

    .top-bar-user-right:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        top: -8px;
        left: 0;
    }
}

@media (max-width: 590px) {

    .shift-right {
        margin-left: 20px;
    }

    .user-name-tag, .password-tag {
        width: 150px;
    }

    .top-bar-left-ubox {
        margin-left: 15px;
    }
}

/* END OF TOP BAR */


.top-space, .top-space-user {
    height: 71px;
}

@media (max-width: 1060px) {
    .top-space {
        height: 129px;
    }
}

@media (max-width: 780px) {
    .top-space-user {
        height: 129px;
    }
}


/* START OF SIGN-UP PAGE */
h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    color: #424242;
}

/* The container for the form */
.sign-up-form-tag {
    width: 80%;
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f6f4f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling input fields */
.sign-up-form-tag input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a3adb3;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.sign-up-name-card, .sign-up-user_name-card, .sign_up-c-password-card {
    margin-bottom: 15px;
}

.sign_up-password-card {
    margin-bottom: 10px;
}

.sign-up-form-tag input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #424242;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-up-form-tag input[type="submit"]:hover {
    background-color: #666666;
}

/* Styling the password criteria message */
.sign-up-password-message {
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #b3ada1;
    border-radius: 5px;
    background-color: #f8f6ec;
}

.sign-up-password-message p {
    padding-bottom: 5px;
}

.sign-up-password-message ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.sign-up-password-message li {
    flex: 1 0 48%; /* Makes sure two items are on one line, with a little space in between */
    margin: 0;
    position: relative;
    padding-left: 20px;
}

.sign-up-password-message li:before {
    content: '•'; 
    position: absolute; 
    left: 0;
    color: #333;
}

/* Styling the date of birth section */
.sign-up-d_o_b-tag {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sign-up-d_o_b-card {
    flex: 1;
    font-size: 1em;
    margin-right: 10px;
}

.select-day,
.select-month,
.select-year {
    flex: 1;
    padding: 5px;
    border: 2px solid #a3adb3;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.select-year {
    margin-right: 0;
}
/* END OF SIGN-UP PAGE */


/* START OF POP UP MENUS */

.amend-p-t-box, .delete-peep-box, .picture-peep-box, .new-peep-container, .amend-u-t-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Start hidden but it will take space */
    z-index: 10;
    max-width: 90%;
}

.amend-p-t-box.active, .delete-peep-box.active, .picture-peep-box.active, .new-peep-container.active, .amend-u-t-box.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; /* Fully visible */
    visibility: visible; /* It's visible now */
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

#overlay {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

/* END OF POP UP MENUS */


/* START OF HOMEPAGE WITH PEEPS */

/* New Peep Container */
.new-peep-container {
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    background: 
        radial-gradient(circle at 100px 100px, blanchedalmond, #f7f7f7),
        radial-gradient(circle at 300px 300px, #f7f7f7, blanchedalmond),
        radial-gradient(circle at 50px 200px, #f7f7f7, blanchedalmond);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-peep-box-button {
    margin-top: 40px;
    max-width: 800px;
    width: 90%;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #bcc79c;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-peep-box-button:hover {
    background-color: #e0e6cd;
}

.relative-container {
    position: relative;
}

.cancel-button {
    position: absolute;
    display: block;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    color: rgb(255, 123, 0);
}

.close-post-peep {
    top: -25px;
    right: -10px;
    font-size: 48px;
}

.cancel-button:hover {
    color: rgb(254, 181, 113);
}

.new-peep-title {
    font-size: 1.5em;
}

.comment-box {
    width: 100%;
    height: 100px;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #8b8b8b;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.95em;
}

.comment-box:focus {
    border: 2px solid orange;
    outline: None;
}

.choose-files-button {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(255, 187, 62);
    cursor: pointer;
    color: black;
    font-size: larger;
    font-family: 'Arial', sans-serif;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.custom-file-upload:hover {
    background-color: orange;
}

.file-name {
    font-size: 0.8em;
}

.all-tags-amend-box, .tags-amend-box {
    margin-top: 25px;
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
}

.tag-to-select-box, .tags-amend-select-box {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 18px;
    width: 124px;
}

@media (max-width: 740px) {
    .tag-to-select-box, .tags-amend-select-box {
        margin-bottom: 12px;
    }
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 0.2em;
}

.post-peep-button {
    padding: 8px 16px;
    background-color: rgb(245, 195, 143);
    cursor: pointer;
    color: black;
    font-size: 1.2em;
    font-family:inherit;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.post-peep-button:hover {
    background-color: rgb(241, 173, 99);
}

/* All Peeps Container */
.all-peeps-container {
    margin-top: 40px;
    max-width: 800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.peep-container {
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 8px;
    background: 
        radial-gradient(circle at 100px 100px, rgb(235, 230, 215), #fefcef),
        radial-gradient(circle at 300px 300px, #fefcef, rgb(235, 230, 215)),
        radial-gradient(circle at 50px 200px, #fefcef, rgb(235, 230, 215));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-name-section {
    position: relative;
    display: flex;
    align-items: center;
}

.user-name-link {
    font-weight: bold;
    text-decoration: none;
    color: #196a40;
    transition: color 0.3s;
    margin-right: 1em;
    font-size: 1.1em;
}

.user-name-link:hover {
    color: #259e5f;
}

.amend-p-t-button {
    margin-left: 2px;
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
    background-color: #ebebeb;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none; 
    transition: background-color 0.3s;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.amend-p-t-button:hover {
    background-color: #dbdbdb;
}

.delete-peep-button {
    margin-left: 12px;
    padding: 3px 6px;
    border: none;
    border-radius: 5px;
    background-color: #ebebeb;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none; 
    transition: background-color 0.3s;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.delete-peep-button:hover {
    background-color: #dbdbdb;
}

.date-card {
    position: absolute;
    right: 2px;
}

@media (max-width: 720px) {
    .user-name-section {
        display: block;
    }
    .date-card {
        position: absolute;
        top: 1px;
        right: 2px;
    }
    .amend-delete-container {
        margin-top: 6px;
    }
    .amend-p-t-button {
        margin-left: 0px;
    }
}

.comment-card, .comment-card-picture-box {
    margin-top: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    font-family: fantasy;
    font-size: 1.2em;
    border-top: 1px solid #196a40;
}

.images-box-on-page {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.image-tag {
    box-shadow: 0px 4px 8px rgb(200, 200, 200);
    transition: box-shadow 0.3s ease; /* Optional: for a smooth hover effect */
    max-width: 100%;
    max-height: 120px;
}

.image-tag:hover { 
    box-shadow: 0px 6px 12px rgb(150, 150, 150);
}

.under-picture-line {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    margin-top: 15px;
}

.no-image-message-tag {
    padding: 6px 8px;
    color: #4b545c;
    font-size: 12px;
    border-radius: 5px;
    background-color: #f1ede2;
    display: grid;
    place-items: center;
}

.picture-peep-button {
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: #aee1c7;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none; 
    transition: background-color 0.3s;
    font-style: italic;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.picture-peep-button:hover {
    background-color: #ceecdd;
}

.like-button {
    margin-left: 10px;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: #e1d3ae;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none; 
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.like-button:hover {
    background-color: rgb(242, 169, 90)
}

.liked-button {
    margin-left: 10px;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    color: #f6f5e4;
    background-color: #e1d3ae;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none; 
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.liked-button:hover {
    background-color: #e2ded3;
}

.likes-card {
    padding: 6px 0px;
    font-size: 0.9em;
}

.tag-for-peep {
    margin-top: 1em;
    display: inline-block;
    background-color: rgb(247, 246, 235);
    padding: 0.2em 0.5em;
    border-radius: 5px;
    margin-right: 1em;
}

/* Styling for popup boxes */

.amend-p-t-box, .amend-u-t-box {
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    background: 
        radial-gradient(circle at 100px 100px, blanchedalmond, #f7f7f7),
        radial-gradient(circle at 300px 300px, #f7f7f7, blanchedalmond),
        radial-gradient(circle at 50px 200px, #f7f7f7, blanchedalmond);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 368px;
    width: 90%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}

.amend-p-t-box h3 {
    font-size: 1.4em;
    margin-bottom: 20px;
}

.amend-u-t-box h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.close-a-p-tags, .close-a-u-tags {
    top: -1px;
    right: 12px;
    font-size: 40px;
}

.confirm-button {
    width: 100%;
    margin-top: 5px;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 195, 143);
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.confirm-button:hover {
    background-color: rgb(241, 173, 99);
}

.delete-peep-box {
    margin: 2em;
    padding: 1em;
    border-radius: 8px;
    background: 
        radial-gradient(circle at 100px 100px, rgb(240, 238, 230), #ffffff),
        radial-gradient(circle at 300px 300px, #ffffff, rgb(240, 238, 230)),
        radial-gradient(circle at 50px 200px, #ffffff, rgb(240, 238, 230));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 368px;
    width: 90%;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: bold;
    height: 160px;
}

.confirm-delete-button {
    width: 150px;
    margin-top: 20px;
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.confirm-delete-button:hover {
    background-color: rgb(192, 0, 0);
}

.cancel-delete-button {
    width: 150px;
    margin-left: 169px;
    transform: translateY(-38px);
    padding: 6px 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 195, 143);
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.cancel-delete-button:hover {
    background-color: rgb(241, 173, 99);
}

.picture-peep-box {
    background-color: #faf8f7;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.user-name-section-picture-box {
    display: flex;
    align-items: center;
}

.date-card-picture-box {
    font-size: 14px;
    color: #777;
    transform: translateY(-1px);
}

.comment-card-picture-box {
    max-height: 86px;
    padding-right: 12px;
    overflow-y: auto;
}

.images-box-in-box {
    position: relative;
    max-height: 580px;
    width: 900px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
    gap: 8px;
}

@media (max-height: 800px) {
    .images-box-in-box {
        max-height: 480px;
    }
}
@media (max-height: 700px) {
    .images-box-in-box {
        max-height: 380px;
    }
}
@media (max-height: 600px) {
    .images-box-in-box {
        max-height: 280px;
    }
}
@media (max-height: 500px) {
    .images-box-in-box {
        max-height: 180px;
    }
}
@media (max-height: 400px) {
    .images-box-in-box {
        max-height: 80px;
    }
}
@media (max-width: 1060px) {
    .images-box-in-box {
        width: 840px;
    }
}
@media (max-width: 960px) {
    .images-box-in-box {
        width: 740px;
    }
}
@media (max-width: 860px) {
    .images-box-in-box {
        width: 640px;
    }
}
@media (max-width: 760px) {
    .images-box-in-box {
        width: 540px;
    }
}
@media (max-width: 660px) {
    .images-box-in-box {
        width: 440px;
    }
}
@media (max-width: 560px) {
    .images-box-in-box {
        width: 340px;
    }
    .user-name-section-picture-box {
        font-size: 0.8em;
    }
    .date-card-picture-box {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .images-box-in-box {
        width: 300px;
    }
    .user-name-section-picture-box {
        font-size: 0.6em;
    }
    .date-card-picture-box {
        font-size: 10px;
    }
}

.image-tag-bigger {
    max-width: 100%;
    display: block;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

/* .image-tag-bigger:hover {
    transform: scale(1.025);
} */

/* Always display scrollbar for Webkit browsers (Chrome, Safari) */
.images-box-in-box::-webkit-scrollbar, .comment-card-picture-box::-webkit-scrollbar {
    width: 12px;
}

.images-box-in-box::-webkit-scrollbar-thumb, .comment-card-picture-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
}

.images-box-in-box::-webkit-scrollbar-track, .comment-card-picture-box::-webkit-scrollbar-track {
    background-color: #f7f7f7;
}

/* Always display scrollbar for Firefox */
.images-box-in-box {
    scrollbar-width: thin;
    scrollbar-color: #ccc #f7f7f7;
}

.close-picture-box {
    top: -5px;
    right: 11px;
    font-size: 48px;
}

.image-box-picture-box {
    margin: 2px;
    margin-bottom: 0px;
}

/* END OF HOMEPAGE */


/* START OF USER PAGE (USER INFO PART) */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.profile-info-box {
    max-width: 800px;
    width: 90%;
    background: 
        radial-gradient(circle at 100px 100px, rgb(240, 238, 230), #fff3df),
        radial-gradient(circle at 300px 300px, #fff3df, rgb(240, 238, 230)),
        radial-gradient(circle at 50px 200px, #fff3df, rgb(240, 238, 230));
    border: 2px solid #e0d3bf;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px auto;
    font-family: 'Roboto', sans-serif;
}

.top-details-tag {
    margin-bottom: 5px;
}

.top-details-tag {
    display: flex;
    justify-content: space-between; /* Distributes the space between the child divs */
    align-items: center; /* Vertically aligns the content if they have different heights */
}

.profile-name-tag, .profile-d-o-b-card, .profile-mood-tag {
    flex: 1; /* Allows each div to grow and take up equal width */
    border-bottom: 1px dashed #e0d3bf;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-right: 20px; /* Gives a bit of space between them, remove if you want them closer */
}

.profile-mood-tag {
    margin-right: 0; /* Ensure the last element doesn't have a margin on the right */
}

.top-details-tag {
    gap: 40px;
}

.user-info-tag {
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-details-tag p:first-child, .user-tags-section-title, .user-no-tags-title, .security-buttons-tag p:first-child {
    font-weight: 500;
    font-size: 20px;
    color: #5d5348;
    margin-bottom: 10px;
}

.select-mood-tag-user {
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 2px 4px;
    border: 2px solid #a3adb3;  
    border-radius: 5px;
    color: #4b545c; 
    font-weight: bold;
    font-size: 18px;
    height: 34px;
    outline: none;
}

@media (max-width: 780px) {
    .profile-mood-tag p:first-child {
        font-size: 16px;
        margin-bottom: 14px;
    }
}

.profile-tags-box {
    border-bottom: 1px dashed #e0d3bf;
    width: 100%;
}

.user-tags-section-title, .user-peep-section-title {
    display: block;
    width: 100%;
}

.user-no-tags-box {
    margin-bottom: 2px;
}

.user-no-tags-title {
    display: inline-block;
    margin-right: 10px;
}

.tags-for-user-box {
    margin-bottom: 4px;
    display: inline-block;
    vertical-align: top;
    gap: 10px;
}

.tag-for-user {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(247, 246, 235);
    padding: 0.2em 0.5em;
    border-radius: 5px;
    margin-right: 1em;
}

.amend-u-t-button, .amend-u-t-button-no-tags {
    display: inline-block;
    padding: 4px 6px;
    border: none;
    border-radius: 5px;
    background-color: #e1dbae;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none; 
    transition: background-color 0.3s;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.amend-u-t-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.amend-u-t-button-no-tags {
    margin-top: -4px;
    margin-bottom: 8px;
}

.amend-u-t-button:hover, .amend-u-t-button-no-tags:hover {
    background-color: #f0eac3;
}

.security-buttons-tag {
    margin-top: 20px;
}

.security-buttons-box {
    margin-top: 20px;
    margin-bottom: 8px;
}

.change-password-button-tag {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #000000;
    background-color: #f9d88a;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none; 
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.change-password-button-tag:hover {
    background-color: #e5c781;
}

.delete-profile-button-tag {
    margin-left: 15px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #000000;
    background-color: #c2c7b6;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none; 
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.delete-profile-button-tag:hover {
    background-color: #a5ac93;
}

@media (max-width: 648px) {
    .top-details-tag {
        gap: 4px;
        font-size: 0.8em;
    }
    .top-details-tag p:first-child, .user-tags-section-title, .user-no-tags-title, .security-buttons-tag p:first-child {
        font-size: 16px;
    }
    .profile-mood-tag p:first-child {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .select-mood-tag-user {
        margin-top: -8px;
        height: 32px;
        font-size: 16px;
    }
}

.user-peeps-title {
    margin: 0px auto 0px;
    text-align: center;
    font-size: 2em;
}