@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Teko:wght@300;400;500&display=swap');

body {
    font-family: 'Teko', sans-serif;
    background: #020024;
    background-image: radial-gradient(circle, #020024, #030336, #040549, #00075b, #00086e);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

/* Starry sky simulation */
body::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url('https://www.transparenttextures.com/patterns/twinkle-twinkle.png') repeat 0 0;
    pointer-events: none;
    z-index: -1;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 3em;
    margin-bottom: 40px;
}

.success-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success-box p {
    font-size: 1.5em;
}

form, .success-box {
    background: linear-gradient(to bottom right, rgb(0, 32, 55), rgba(0, 0, 60, 0.7),
    rgb(0, 32, 55), rgba(0, 0, 60, 0.7), rgb(0, 32, 55), rgba(0, 0, 60, 0.7),
    rgb(0, 32, 55), rgba(0, 0, 60, 0.7), rgb(0, 32, 55));
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(50, 50, 255, 0.7);
    max-width: 300px;
    width: 100%;
}

label {
    font-size: 1.4em;
    display: block;
    margin-bottom: 4px;
}

.success-box p {
    margin-top: 10px;
    margin-bottom: 25px;
}

input, .success-box a {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.2em;
    outline: none;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    transition: box-shadow 0.3s ease;
}

input[type="password"] {
    width: 93%;
}

.success-box a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

input[type="submit"], .success-box a {
    cursor: pointer;
    background-color: #0077FF;
    color: #000;
    border: none;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.7);
    font-family:unset;
    font-size: 1.6em;
    padding: 4px;
}

.success-box a:hover {
    background-color: #0099FF;
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.8);
    color: #000;
}

input[type="submit"]:hover {
    background-color: #0099FF;
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.8);
}

input[type="password"]:hover, input[type="text"]:focus {
    box-shadow: 0 0 15px rgba(0, 119, 255, 0.7);
}

.cp_error {
    font-size: 1.6em;
    color: rgb(255, 220, 0);
    text-align: center;
}

/* Mobile optimization */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    form {
        padding: 10px 20px;
    }
}