h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    color: #424242;
}

/* The container for the form */
.sign-up-form-tag {
    width: 80%;
    max-width: 500px;
    margin: 25px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f6f4f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling input fields */
.sign-up-form-tag input[type="text"], .sign-up-form-tag input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a3adb3;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.sign-up-name-card, .sign-up-user_name-card, .sign_up-c-password-card {
    margin-bottom: 20px;
}

.sign_up-password-card {
    margin-bottom: 15px;
}

.sign-up-form-tag input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #424242;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-up-form-tag input[type="submit"]:hover {
    background-color: #666666;
}

/* Styling the password criteria message */
.sign-up-password-message {
    font-size: 0.8em;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #b3ada1;
    border-radius: 5px;
    background-color: #f8f6ec;
}

.sign-up-password-message p {
    padding-bottom: 5px;
}

.sign-up-password-message ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.sign-up-password-message li {
    flex: 1 0 48%; /* Makes sure two items are on one line, with a little space in between */
    margin: 0;
    position: relative;
    padding-left: 20px;
}

.sign-up-password-message li:before {
    content: '•'; 
    position: absolute; 
    left: 0;
    color: #333;
}

/* Styling the date of birth section */
.sign-up-d_o_b-tag {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sign-up-d_o_b-card {
    flex: 1;
    font-size: 1em;
    margin-right: 10px;
}

.select-day,
.select-month,
.select-year {
    flex: 1;
    padding: 5px;
    border: 2px solid #a3adb3;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.select-year {
    margin-right: 0;
}

.validation_error {
    color: rgb(221, 81, 0);
    transform: translateY(-5px);
}