@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.profile-info-box {
    max-width: 800px;
    width: 90%;
    background: 
        radial-gradient(circle at 100px 100px, rgb(240, 238, 230), #fff3df),
        radial-gradient(circle at 300px 300px, #fff3df, rgb(240, 238, 230)),
        radial-gradient(circle at 50px 200px, #fff3df, rgb(240, 238, 230));
    border: 2px solid #e0d3bf;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px auto;
    font-family: 'Roboto', sans-serif;
}

.top-details-tag {
    margin-bottom: 5px;
}

.top-details-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-name-tag, .profile-d-o-b-card, .profile-mood-tag {
    flex: 1; /* Allows each div to grow and take up equal width */
    border-bottom: 1px dashed #e0d3bf;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.profile-mood-tag {
    margin-right: 0;
}

.top-details-tag {
    gap: 40px;
}

.user-info-tag {
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-details-tag p:first-child, .user-tags-section-title, .user-no-tags-title, .security-buttons-tag p:first-child {
    font-weight: 500;
    font-size: 20px;
    color: #5d5348;
    margin-bottom: 10px;
}

.select-mood-tag-user {
    margin-top: -4px;
    margin-bottom: -4px;
    padding: 2px 4px;
    border: 2px solid #a3adb3;  
    border-radius: 5px;
    color: #4b545c; 
    font-weight: bold;
    font-size: 18px;
    height: 34px;
    outline: none;
}

@media (max-width: 780px) {
    .profile-mood-tag p:first-child {
        font-size: 16px;
        margin-bottom: 14px;
    }
}

.profile-tags-box {
    border-bottom: 1px dashed #e0d3bf;
    width: 100%;
}

.user-tags-section-title, .user-peep-section-title {
    display: block;
    width: 100%;
}

.user-no-tags-box {
    margin-bottom: 2px;
}

.user-no-tags-title {
    display: inline-block;
    margin-right: 10px;
}

.tags-for-user-box {
    margin-bottom: 4px;
    display: inline-block;
    vertical-align: top;
    gap: 10px;
}

.tag-for-user {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(247, 246, 235);
    padding: 0.2em 0.5em;
    border-radius: 5px;
    margin-right: 1em;
}

.amend-u-t-button, .amend-u-t-button-no-tags {
    display: inline-block;
    padding: 4px 6px;
    border: none;
    border-radius: 5px;
    background-color: #e1dbae;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none; 
    transition: background-color 0.3s;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.amend-u-t-button {
    margin-top: 8px;
    margin-bottom: 8px;
}

.amend-u-t-button-no-tags {
    margin-top: -4px;
    margin-bottom: 8px;
}

.amend-u-t-button:hover, .amend-u-t-button-no-tags:hover {
    background-color: #f0eac3;
}

.security-buttons-tag {
    margin-top: 20px;
}

.security-buttons-box {
    margin-top: 20px;
    margin-bottom: 8px;
}

.change-password-button-tag, .delete-profile-button-tag {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none; 
    transition: background-color 0.3s;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.change-password-button-tag {
    background-color: #f9d88a;
}

.change-password-button-tag:hover {
    background-color: #e5c781;
}

.delete-profile-button-tag {
    margin-left: 15px;
    background-color: #c2c7b6;
}

.delete-profile-button-tag:hover {
    background-color: #a5ac93;
}

@media (max-width: 648px) {
    .top-details-tag {
        gap: 4px;
        font-size: 0.8em;
    }
    .top-details-tag p:first-child, .user-tags-section-title, .user-no-tags-title, .security-buttons-tag p:first-child {
        font-size: 16px;
    }
    .profile-mood-tag p:first-child {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .select-mood-tag-user {
        margin-top: -8px;
        height: 32px;
        font-size: 16px;
    }
}

.user-peeps-title {
    margin: 0px auto 0px;
    text-align: center;
    font-size: 2em;
    color: #3b322a;
    word-wrap: break-word;
    max-width: 90%;
}

@media (max-width: 420px) {

    .security-buttons-box {
        display: flex;
        margin-bottom: 50px;
    }
    
    .delete-profile-button-tag {
        transform: translateY(50px);
        position: absolute;
        left: 28px;
    }
}

@media (max-width: 366px) {

    .top-details-tag p:first-child {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .top-details-tag {
        gap: 3px;
        font-size: 0.7em;
    }

    .select-mood-tag-user {
        font-size: 12px;
    }
}