<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
</head>
<body>
    {% if password_changed == False %}
        <h1>Change Password</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/change_password" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p>
                <label for="old_password">Current Password:</label>
                <input type="password" name="old_password" id="old_password" autocomplete="off">
            </p>
            <p>
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" id="new_password" autocomplete="off">
            </p>
            <p>
                <label for="c_new_password">Confirm New Password:</label>
                <input type="password" name="c_new_password" id="c_new_password" autocomplete="off">
            </p>
            <p>
                <input type="submit" value="Lock Securely">
            </p>
        </form>
    {% else %}
    <h1>Password Changed</h1>
    <div class="success-box">
        <p>Your password was successfully changed.</p>
        <a href="user/{{user.user_name}}">Back to profile</a>
    </div>
    {% endif %}
</body>
</html>