<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_styles.css') }}">
</head>
<body>
    <nav class="top-bar">
        {% if user.is_authenticated %}
            <div class="top-bar-left">
                <p class="top-bar-text">Viewing: </p>
                <select class="select-by-tag" name="by_tag" onchange="updateURL()">
                    {% if current_tag_no == 0 %}
                        <option value=0>All tags</option>
                        {% for tag_value, tag_label in tags.items() %}
                            <option value="{{tag_value}}">{{tag_label}}</option>
                        {% endfor %}
                    {% else %}
                        <option value=0>All tags</option>
                        {% for tag_value, tag_label in tags.items() %}
                            <option value="{{tag_value}}" {% if tag_value == current_tag_no %}selected{% endif %}>{{tag_label}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
                <p class="top-bar-text">Mood: </p>
                <form action="/change_mood" method="POST" id="moodForm">
                    <select class="select-mood" name="mood" onchange="document.getElementById('moodForm').submit();">
                        {% for mood_value, mood_label in moods.items() %}
                            <option value="{{mood_value}}" {% if mood_value == current_mood %}selected{% endif %}>{{mood_label}}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="top-bar-right">
                <p class="user_name-header">{{user.user_name}}</p>
                <a class="top-bar-button" href="">View Profile</a>
                <form action="/logout" method="POST">
                    <input class="top-bar-button" type="submit" value="Log out">
                </form>
            </div>
        {% else %}
            <form action="/login" method="POST">
                <div class="top-bar-left">
                    <input class="user_name-card" type="text" name="user_name" placeholder="Username" autocomplete="off">
                    <input class="password-card" type="text" name="password" placeholder="Password" autocomplete="off">
                    <input class="top-bar-button" type="submit" value="Log in">
                </div>
            </form>
            <div class="top-bar-right">
                <p class="not_member-text">Not a member?</p>
                <a class="top-bar-button" href="/sign_up">Sign up</a>
            </div>
        {% endif %}
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {

            // Save the scroll position when a form is submitted
            document.querySelectorAll("form").forEach(form => {
                form.addEventListener("submit", function(event) {
                    sessionStorage.setItem("scrollPosition", window.scrollY);
                });
            });

            // Save the scroll position when the link is clicked
            document.querySelectorAll(".select_peep_tags-button, .cancel-button").forEach(button => {
                button.addEventListener("click", function(event) {
                    sessionStorage.setItem("scrollPosition", window.scrollY);

                    // Prevent default navigation, then proceed after a short delay
                    event.preventDefault();
                    setTimeout(() => {
                        window.location.href = event.target.href;
                    }, 50);
                });
            });

            // Restore the scroll position once the document is loaded
            if (sessionStorage.getItem("scrollPosition") !== null) {
                window.scrollTo(0, parseInt(sessionStorage.getItem("scrollPosition")));
                sessionStorage.removeItem("scrollPosition");  // Cleanup
            }
        });
    </script>
    <script>
        function updateURL() {
            const selectedValue = document.querySelector('.select-by-tag').value;
            window.location.href = '?by_tag=' + selectedValue;
        }
    </script>
</body>
</html>