<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
</head>
<body>
    <nav class="top-bar-box">
        <a href="/" class="home-button">
            <svg viewBox="0 0 100 100">
                <!-- Tall and Thin House Shape -->
                <path d="M25,90 L25,40 L50,10 L75,40 L75,90 L60,90 L60,60 L40,60 L40,90 L25,90"></path>
            </svg>
        </a>
        {% if user.is_authenticated %}
            <div class="top-bar-left-box">
                <div class="select-by-tag-box">
                    <p class="top-bar-text shift-right">Viewing: </p>
                    <select class="select-by-tag-tag" name="by_tag" onchange="updateURL()">
                        {% if current_tag_no == 0 %}
                            <option value=0>All tags</option>
                            {% for tag_value, tag_label in tags.items() %}
                                <option value="{{tag_value}}">{{tag_label}}</option>
                            {% endfor %}
                        {% else %}
                            <option value=0>All tags</option>
                            {% for tag_value, tag_label in tags.items() %}
                                <option value="{{tag_value}}" {% if tag_value == current_tag_no %}selected{% endif %}>{{tag_label}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="select-mood-box">
                <p class="top-bar-text">Mood: </p>
                <form action="/change_mood" method="POST" id="moodForm">
                    <select class="select-mood-tag" name="mood" onchange="document.getElementById('moodForm').submit();">
                        {% for mood_value, mood_label in moods.items() %}
                            <option value="{{mood_value}}" {% if mood_value == current_mood %}selected{% endif %}>{{mood_label}}</option>
                        {% endfor %}
                    </select>
                </form>
                </div>
            </div>
            <div class="top-bar-right-box">
                <p class="user-name-header-tag">{{user.user_name}}</p>
                <a class="view-profile-button" href="user/{{user.id}}">View Profile</a>
                <form action="/logout" method="POST">
                    <input class="log-out-button" type="submit" value="Log out">
                </form>
            </div>
        {% else %}
            <form action="/login" method="POST">
                <div class="top-bar-left-ubox">
                    <input class="user-name-tag" type="text" name="user_name" placeholder="Username" autocomplete="off">
                    <input class="password-tag" type="text" name="password" placeholder="Password" autocomplete="off">
                    <input class="log-in-button" type="submit" value="Log in">
                </div>
            </form>
            <div class="top-bar-right-ubox">
                <p class="not-member-tag">Not a member?</p>
                <a class="sign-up-button" href="/sign_up">Sign up</a>
            </div>
        {% endif %}
    </nav>
    
    {% block content %}
    {% endblock %}

    <div id="overlay"></div>
    
    <!-- <script src="/scripts/script.js" defer></script> -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            const openBoxButtons = document.querySelectorAll('[data-amend-peep-tags-target], [data-delete-peep-target], [data-picture-peep-target], [data-post-peep-target]');
            const cancelBoxButtons = document.querySelectorAll('[data-cancel-button]');
            const overlay = document.getElementById('overlay');

            openBoxButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const boxSelector = button.dataset.amendPeepTagsTarget || button.dataset.deletePeepTarget || button.dataset.picturePeepTarget || button.dataset.postPeepTarget;
                    const box = document.querySelector(boxSelector);
                    openBox(box);
                });
            });

            overlay.addEventListener('click', () => {
                const boxes = document.querySelectorAll('.amend-p-t-box.active, .delete-peep-box.active, .picture-peep-box.active, .new-peep-container.active');
                boxes.forEach(box => {
                    closeBox(box);
                });
            });

            cancelBoxButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const box = button.closest('.amend-p-t-box') || button.closest('.delete-peep-box') || button.closest('.picture-peep-box') || button.closest('.new-peep-container');
                    closeBox(box);
                });
            });

            function openBox(box) {
                if (box == null) return;
                box.classList.add('active');
                overlay.classList.add('active');
            }

            function closeBox(box) {
                if (box == null) return;
                box.classList.remove('active');
                overlay.classList.remove('active');
            }
            
            // Save the scroll position when a form is submitted
            document.querySelectorAll("form").forEach(form => {
                form.addEventListener("submit", function() {
                    sessionStorage.setItem("scrollPosition", window.scrollY);
                });
            });

            document.querySelector(".select-mood-tag").addEventListener("change", function() {
                sessionStorage.setItem("scrollPosition", window.scrollY);
                document.getElementById('moodForm').submit();
            });

            // Restore the scroll position once the document is loaded
            if (sessionStorage.getItem("scrollPosition") !== null) {
                window.scrollTo(0, parseInt(sessionStorage.getItem("scrollPosition")));
                sessionStorage.removeItem("scrollPosition");  // Cleanup
            }

        });

        function updateURL() {
            const selectedValue = document.querySelector('.select-by-tag-tag').value;
            window.location.href = '?by_tag=' + selectedValue;
        }

        function adjustFontSize() {
            const elements = document.querySelectorAll('.user-name-header-tag');
            elements.forEach(el => {
                let fontSize = parseFloat(window.getComputedStyle(el, null).getPropertyValue('font-size')); // Get current font size in pixels
                while (el.offsetWidth > 220 && fontSize > 0) { // Check if the element's width exceeds 250px
                fontSize -= 1; // Reduce the font size by 1 pixel
                el.style.fontSize = `${fontSize}px`; // Apply the new font size
                }
            });
        }
        // Call the function initially or whenever you need to adjust the font size.
        adjustFontSize();

        document.querySelector('.choose-files-button').addEventListener('change', function(event) {
            let files = event.target.files;
            let fileNames = Array.from(files).map(file => file.name).join(', ');
            
            document.querySelector('.file-name').textContent = fileNames ? `(${fileNames})` : '';
        });

    </script>

</body>
</html>