<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
</head>
<body>
    <nav class="top-bar-box">
        <a href="/" class="home-button">
            <svg viewBox="0 0 100 100">
                <!-- Tall and Thin House Shape -->
                <path d="M25,90 L25,40 L50,10 L75,40 L75,90 L60,90 L60,60 L40,60 L40,90 L25,90"></path>
            </svg>
        </a>
        {% if user.is_authenticated %}
            <div class="top-bar-left-box">
                <div class="select-by-tag-box">
                    <p class="top-bar-text shift-right">Viewing: </p>
                    <select class="select-by-tag-tag" name="by_tag" onchange="updateURL()">
                        {% if current_tag_no == 0 %}
                            <option value=0>All tags</option>
                            {% for tag_value, tag_label in tags.items() %}
                                <option value="{{tag_value}}">{{tag_label}}</option>
                            {% endfor %}
                        {% else %}
                            <option value=0>All tags</option>
                            {% for tag_value, tag_label in tags.items() %}
                                <option value="{{tag_value}}" {% if tag_value == current_tag_no %}selected{% endif %}>{{tag_label}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="select-mood-box">
                    <p class="top-bar-text">Mood: </p>
                    <form action="/change_mood" method="POST" id="moodForm">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <select class="select-mood-tag scroll-save" name="mood" onchange="document.getElementById('moodForm').submit();">
                            {% for mood_value, mood_label in moods.items() %}
                                <option value="{{mood_value}}" {% if mood_value == current_mood %}selected{% endif %}>{{mood_label}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <div class="top-bar-right-box">
                <p class="user-name-header-tag">{{user.user_name}}</p>
                <a class="view-profile-button" href="user/{{user.user_name}}">View Profile</a>
                <form action="/logout" method="POST">
                    <input class="log-out-button" type="submit" value="Log out">
                </form>
            </div>
        {% else %}
            <form action="/login" method="POST">
                <div class="top-bar-left-ubox">
                    <input class="user-name-tag" type="text" name="user_name" placeholder="Username" autocomplete="off">
                    <input class="password-tag" type="text" name="password" placeholder="Password" autocomplete="off">
                    <input class="log-in-button" type="submit" value="Log in">
                </div>
            </form>
            <div class="top-bar-right-ubox">
                <p class="not-member-tag">Not a member?</p>
                <a class="sign-up-button" href="/sign_up">Sign up</a>
            </div>
        {% endif %}
    </nav>
    
    {% block content %}
    {% endblock %}

    <div id="overlay"></div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>