{% extends "base.html" %} {% block title %}Chitter - Home{% endblock %}

{% block content %}

<div class="top-space"></div>

<div class="general-container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "log_in_success" %}
                <a href="/" class="{{ category }}">{{ message }}</a>
            {% else %}
                <p class="{{ category }}">{{ message }}</p>
            {% endif %}
        {% endfor %}       
    {% endif %}
{% endwith %}
</div>

{% if user.is_authenticated %}
    <div class="general-container">
        <button class="post-peep-box-button" data-post-peep-target="#post-peep-box">Post a peep</button>
    </div>
    <div class="new-peep-container" id="post-peep-box">
        <div class="relative-container">
            <button data-cancel-button class="cancel-button close-post-peep">&times;</button>
            <form action="/new_peep" method="POST" enctype="multipart/form-data">
                <p1 class="new-peep-title">Add a new peep</p1>
                <textarea class="comment-box" name="content" placeholder="Say something..."></textarea>
                <label class="custom-file-upload">
                    <input class="choose-files-button" type="file" name="files" multiple>
                    <p>Upload images...</p>
                    <span class="file-name"></span>
                </label>
                <input type="hidden" name="from" value="home">
                <div class="tags-selection-box">
                    {% for tag in tags %}
                        <div class="tag-to-select-box">
                            <input type="checkbox" id="tag{{tag}}" name="tag{{tag}}" value="checked">
                            <label for="tag{{tag}}">{{tags[tag]}}</label>
                        </div>
                    {% endfor %}
                </div>
                <input class="post-peep-button" type="submit" value="Post that peep!">
            </form>
        </div>
    </div>
{% endif %}

<div class="all-peeps-container">
    {% for peep in peeps %}
        <div class="peep-container">
            <div class="user-name-section">
                <a class="user-name-link" href="user/{{users[peep.user_id]}}">{{users[peep.user_id]}}</a>
                {% if user.id == peep.user_id %}
                    <div class="amend-delete-container">
                        <button class="amend-p-t-button" data-amend-peep-tags-target="#amend-p-t-box-{{peep.id}}">Amend tags</button>
                        <div class="amend-p-t-box" id="amend-p-t-box-{{peep.id}}">
                            <button data-cancel-button class="cancel-button close-a-p-tags">&times;</button>
                            <h3>Select Tags for Peep</h3>
                            <form action="/amend_peep_tags" method="POST">
                                <input type="hidden" name="peep_id" value="{{peep.id}}">
                                <input type="hidden" name="from" value="home">
                                <div class="tags-amend-box">
                                    {% for tag in tags %}
                                        <div class="tag-to-amend-box">
                                            <input type="checkbox" id="tag{{tag}}" name="tag{{tag}}" value="checked"
                                                {% if tag in peep.tags %}checked{% endif %}>
                                            <label for="tag{{tag}}">{{tags[tag]}}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="confirm-a-tags-button">Confirm</button>
                            </form>
                        </div>
                        <button class="delete-peep-button" data-delete-peep-target="#delete-peep-box-{{peep.id}}">Delete</button>
                        <div class="delete-peep-box" id="delete-peep-box-{{peep.id}}">
                            <form action="/delete_peep" method="POST">
                                <input type="hidden" name="peep_id" value="{{peep.id}}">
                                <input type="hidden" name="from" value="home">
                                <p>Are you sure you want to delete this peep?</p>
                                <button type="submit" class="confirm-delete-button">Confirm</button>
                            </form>
                            <button data-cancel-button class="cancel-delete-button">Cancel</button>
                        </div>
                    </div>
                {% endif %}
                <p class="date-card">
                    {{add_zero(peep.time.day)}} {{months[peep.time.month]}}
                    at {{add_zero(peep.time.hour)}}:{{add_zero(peep.time.minute)}}
                </p>
            </div>

            <p class="comment-card">{{peep.content}}</p>

            {% if peep.images|length != 0 %}
                <div class="images-box-on-page">
                    {% for image in images[peep.id] %}
                        <div class="image-box">
                            <img class="image-tag" src="{{ url_for('static', filename='uploads/' + image) }}"
                            alt="{{ image }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="under-picture-line">
                {% if peep.images|length == 0 %}
                    <p class="no-image-message-tag">There are no pictures...</p>
                {% else %}
                    <button class="picture-peep-button" data-picture-peep-target="#picture-peep-box-{{peep.id}}">Peep at the pictures</button>
                    <div class="picture-peep-box" id="picture-peep-box-{{peep.id}}">
                        <div class="user-name-section-picture-box">
                            <a class="user-name-link" href="user/{{users[peep.user_id]}}">{{users[peep.user_id]}}</a>
                            <p class="date-card-picture-box">
                                {{add_zero(peep.time.day)}} {{months[peep.time.month]}}
                                at {{add_zero(peep.time.hour)}}:{{add_zero(peep.time.minute)}}
                            </p>
                            <button data-cancel-button class="cancel-button close-picture-box">&times;</button>
                        </div>
                        <p class="comment-card-picture-box">{{peep.content}}</p>
                        <div class="images-box-in-box">
                            {% for image in images[peep.id] %}
                                <div class="image-box-picture-box">
                                    <img class="image-tag-bigger" src="{{ url_for('static', filename='uploads/' + image) }}"
                                    alt="{{ image }}"> <!-- style="max-width: 90vw; display: block; margin: 0 auto;" -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <form action="/like" method="POST">
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="hidden" name="peep_id" value="{{peep.id}}">
                    <input type="hidden" name="from" value="normal">
                    <div class="likes-container">
                        {% if liked != False and liked(user.id, peep.id) %}
                            <button type="submit" class="liked-button">Liked</button>
                        {% else %}
                            {% if user.is_authenticated %}
                                <button type="submit" class="like-button">Like</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </form>
                {% if peep.likes == 0 %}
                    <p class="likes-card">Ready for peeping</p>
                {% elif peep.likes == 1 %}
                    <p class="likes-card">Liked by 1 peeper</p>
                {% else %}
                    <p class="likes-card">Liked by {{peep.likes}} peepers</p>
                {% endif %}
            </div>
            <div class="tags-for-peep">
                {% for tag in peep.tags %}
                    <p class="tag-for-peep">{{tags[tag]}}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}