{% extends "base.html" %} {% block title %}Chitter - Home{% endblock %}

{% block content %}

{% if images != None %}
    <div class="centered-box"> <!-- LIKELY TO CHANGE !!!!! -->
        <a class="close-button" href="/">X</a>
        <a class="user_name-link" href="user/{{peep_for_images.user_id}}">{{users[peep_for_images.user_id]}}</a>
        <form action="/like" method="POST">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="peep_id" value="{{peep_for_images.id}}">
            <input type="hidden" name="from" value="images">
            <div class="likes-container">
                {% if liked != False and liked(user.id, peep_for_images.id) %}
                    <button type="submit" class="liked-button">Liked</button>
                {% else %}
                    {% if user.is_authenticated %}
                        <button type="submit" class="like-button">Like</button>
                    {% endif %}
                {% endif %}
                {% if peep_for_images.likes == 0 %}
                    <p class="likes-card">Ready for peeping</p>
                {% elif peep_for_images.likes == 1 %}
                    <p class="likes-card">Liked by 1 peeper</p>
                {% else %}
                    <p class="likes-card">Liked by {{peep_for_images.likes}} peepers</p>
                {% endif %}
            </div>
        </form>
        <p class="comment-card">{{peep_for_images.content}}</p>
        <div class="images-box-pop-up">
            {% for image in images %}
                <div class="image-box">
                    <img class="image-tag" src="{{ url_for('static', filename='uploads/' + image) }}" alt="{{ image }}" width="400">
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- {% if amend_peep_tags != None %}
    <div class="centered-box"> LIKELY TO CHANGE
        <h3>Select Tags for Peep</h3>
        <form action="/amend_peep_tags" method="POST">
            <input type="hidden" name="peep_id" value="{{amend_peep_tags}}">
            <input type="hidden" name="from" value="home">
            <div class="all_tags_amend-box">
                {% for tag in tags %}
                    <div class="tag_to_select-box">
                        <input type="checkbox" id="tag{{tag}}" name="tag{{tag}}" value="checked"
                            {% if tag in find_peep(amend_peep_tags).tags %}checked{% endif %}>
                        <label for="tag{{tag}}">{{tags[tag]}}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="confirm-button">Confirm</button>
            <a class="cancel-button" href="/">Cancel</a>
        </form>
    </div>
{% endif %} -->

<!-- {% if delete_peep != None %}
    <div class="centered-box"> LIKELY TO CHANGE
        <form action="/delete_peep" method="POST">
            <input type="hidden" name="peep_id" value="{{delete_peep}}">
            <input type="hidden" name="from" value="home">
            <p>Are you sure you want to delete this peep?</p>
            <button type="submit" class="confirm-button">Confirm</button>
            <a class="cancel-button" href="/">Cancel</a>
        </form>
    </div>
{% endif %} -->

{% if user.is_authenticated %}
    <form action="/new_peep" method="POST" enctype="multipart/form-data">
        <div class="new_peep-container">
            <p1 class="new_peep-title">Add a new peep</p1>
            <textarea class="comment_box" name="content" placeholder="Say something..."></textarea>
            <input type="file" name="files" multiple>
            <input type="hidden" name="from" value="home">
            <div class="all_tags_amend-box">
                {% for tag in tags %}
                    <div class="tag_to_select-box">
                        <input type="checkbox" id="tag{{tag}}" name="tag{{tag}}" value="checked">
                        <label for="tag{{tag}}">{{tags[tag]}}</label>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Peep-it">
        </div>
    </form>
{% endif %}

<div class="all-peeps-container">
    {% for peep in peeps %}
        <div class="peep-container">
            <div class="user_name-section">
                <a class="user_name-link" href="user/{{peep.user_id}}">{{users[peep.user_id]}}</a>
                {% if user.id == peep.user_id %}
                    <button data-amend-peep-tags-target="#amend-p-t-box-{{peep.id}}">Amend tags</button>
                    <div class="amend-p-t-box" id="amend-p-t-box-{{peep.id}}">
                        <h3>Select Tags for Peep</h3>
                        <form action="/amend_peep_tags" method="POST">
                            <input type="hidden" name="peep_id" value="{{peep.id}}">
                            <input type="hidden" name="from" value="home">
                            <div class="tags-amend-box">
                                {% for tag in tags %}
                                    <div class="tags-amend-select-box">
                                        <input type="checkbox" id="tag{{tag}}" name="tag{{tag}}" value="checked"
                                            {% if tag in peep.tags %}checked{% endif %}>
                                        <label for="tag{{tag}}">{{tags[tag]}}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button type="submit" class="confirm-button">Confirm</button>
                        </form>
                        <button data-cancel-button class="cancel-button">Cancel</button>
                    </div>
                    <button data-delete-peep-target="#delete-peep-box-{{peep.id}}">Delete</button>
                    <div class="delete-peep-box" id="delete-peep-box-{{peep.id}}">
                        <form action="/delete_peep" method="POST">
                            <input type="hidden" name="peep_id" value="{{peep.id}}">
                            <input type="hidden" name="from" value="home">
                            <p>Are you sure you want to delete this peep?</p>
                            <button type="submit" class="confirm-button">Confirm</button>
                        </form>
                        <button data-cancel-button class="cancel-button">Cancel</button>
                    </div>
                    <!-- <a href="?amend_peep_tags={{peep.id}}" class="select_peep_tags-button">Amend tags</a> -->
                    <!-- <a href="?delete_peep={{peep.id}}" class="delete_peep-button">Delete</a> -->
                {% endif %}
            </div>
            <p class="date-card">
                {{add_zero(peep.time.day)}} {{months[peep.time.month]}}
                at {{add_zero(peep.time.hour)}}:{{add_zero(peep.time.minute)}}
            </p>
            <p class="comment-card">{{peep.content}}</p>

            {% if peep.images|length == 0 %}
                <p class="no_image_message-tag">Nothing to peep at...</p>
            {% elif peep.images|length == 1 %}
                <a href="?peep_images={{peep.id}}" class="image_message-tag">Peep at 1 portrayal</a>
            {% else %}
                <a href="?peep_images={{peep.id}}" class="image_message-tag">Peep at {{ peep.images|length }} portrayals</a>
            {% endif %}

            <form action="/like" method="POST">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <input type="hidden" name="peep_id" value="{{peep.id}}">
                <input type="hidden" name="from" value="normal">
                <div class="likes-container">
                    {% if liked != False and liked(user.id, peep.id) %}
                        <button type="submit" class="liked-button">Liked</button>
                    {% else %}
                        {% if user.is_authenticated %}
                            <button type="submit" class="like-button">Like</button>
                        {% endif %}
                    {% endif %}
                    {% if peep.likes == 0 %}
                        <p class="likes-card">Ready for peeping</p>
                    {% elif peep.likes == 1 %}
                        <p class="likes-card">Liked by 1 peeper</p>
                    {% else %}
                        <p class="likes-card">Liked by {{peep.likes}} peepers</p>
                    {% endif %}
                </div>
            </form>
            <div class="tags-for-peep">
                {% for tag in peep.tags %}
                    <p class="tag-for-peep">{{tags[tag]}}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}