name: Python Flask App CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TESTING_IN_ACTIONS: 'True'

    services:
      chitter_project_test:
        image: postgres:latest
        ports: ['5432:5432']
        
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_HOST_AUTH_METHOD: 'trust'
          POSTGRES_DB: chitter_project_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:
        image: redis:latest
        ports:
          - 6379:6379

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest playwright
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Set up Playwright
        run: playwright install

      - name: Run Pytest Unit Tests
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          REDIS_HOST: localhost
          REDIS_PORT: 6379
        run: pytest -k "not test_ui_"

      - name: Run Playwright Tests
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          REDIS_HOST: localhost
          REDIS_PORT: 6379
        run: pytest -k "test_ui_"
